extends layout

block content



  h1.text-center Bienvenido al administrador de colores!

  .errors

  form(action="/api/color", method="POST",name="colorForm" )
    ul.list-inline
      li.list-inline-item
        label(for="name") Name
        input#nombre( type="text" class="form-control")
      li.list-inline-item
        label(for="tipo" ) Hexa
        input#hexa(type="text" class="form-control")
      li.list-inline-item
        label(for="tipo" ) Bit
        input#bit(type="text" class="form-control")
      li.list-inline-item
        input(type="button", value="Enviar",class="btn btn-primary")


  table.table
    thead.thead-dark
      th(scope="col") id
      th(scope="col") nombre
      th(scope="col") hexa
      th(scope="col") bit

    tbody.colors
  script(src="/javascripts/main.js")
